*{
    padding: 0%;
    margin: 0%;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
}
.container.dark{
    background-color: #f1f1f1;
}
.container.dark nav ul li a{
    color: #1E1E1E;
    font-weight: 700;
}
.container.dark nav ul li button img.luna, .container.dark div p,.container.dark div img.logotipo, .container.dark div img:not(.foto-propia){
    filter: invert(100%);
}
.container.dark div.box2{
    background: #1e1e1ed3;
}
.container.dark nav ul li button.resume-btn{
    color: #1E1E1E;
    border: 3px solid #1E1E1E;
    font-weight: 700;
}
nav{
    width: 100%;
    height: auto; 
    max-height: 65px;
    display: flex;
    justify-content: space-between; 
}
ul{
    list-style-type: none;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
ul li:first-child{
    justify-content: flex-start;
}
ul li:nth-child(2){
    padding-left: 12%;
}
ul li:nth-child(4){
    padding-right: 12%;
}
.rightli{
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: #f1f1f1;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: larger;
}
.img-logo{
    width: 60px;
    height: 60px;
}
.dark-theme{
    border: 0px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    color: transparent;
    margin-right: 10px;
}
.luna{
    width: 30px;
    height: 30px;
}
.resume-btn{
    height: 60px;
    width: 100px;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    background-color: transparent;
    color: #f1f1f1;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: larger;
}
.presentacion-seccion{
    width: 100%;
    height: auto;
    display: inline-flex;
}
.presentacion{
    width: 30%;
    font-family: 'Kanit', sans-serif;
    display:block;
    padding-left: 10%;
    padding-top: 5%;
}
.name{
    color: #656D72;
    font-size: large;
}
.name::first-letter{
    font-size: x-large;
    color: #f1f1f1;
}
.nombre{
    color: #f1f1f1;
    font-size: xx-large;
}
.apellidos{
    color: #7E74F1;
    font-size: xx-large;
    text-align: right;
    margin-block-start: -29px;
    padding-right: 17%;
}
.descripcion{
    color: #b2b2b2;
    font-size: smaller;
    text-align: justify;
}
.foto{
    display: block;
    width: 50%;
    height: 100%;
    padding-top: 2.5%;
}
.box1{
    width: 50%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #7E74F1;
    border-radius: 50px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.box2{
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #f1f1f1;
    border-radius: 50px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
.box2 img{
    width: 100%;
    height: auto; 
}
@supports(object-fit: contain){
      .box2 img{
        height: 100%;
        object-fit: contain;
        object-position: center center;
        border-radius: 50px;
      }
}
